@use "../globals" as *;
@use 'sass:color';


.header {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-base * 4;

    &__logo {
        height: 1.5rem;
        display: block;
    }

    @include tablet {
        padding: $space-base * 6;

        &__logo {
            height: auto;
        }
    }

    @include tablet-large {
        padding: 0 $space-base * 8;
    }

    
}

.header__hamburger-menu {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 4;
    cursor: pointer;
    right: $space-base * 3;

    &-icon-open,
    &-icon-close {
        pointer-events: none;
    }

    &-icon-close {
        display: none;
    }

    &--open {
        z-index: 20;
    }

    &--open & {
        &-icon-open {
            display: none;
        }

        &-icon-close {
            display: block;
            background-color: white;
            padding: .5rem;
            border-radius: 50%;
        }
    }

    @include tablet {
        right: $space-base * 6;
    }

    @include tablet-large {
        display: none;
    }
}


.navbar {
    position: fixed;
    height: 100vh;
    width: 80vw;
    top: 0;
    left: -80vw;
    z-index: 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: left 0.3s ease;
    box-shadow: 0 0 0 100vw rgba(24, 26, 23, 0);

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        padding: 1.75rem;
        width: 100%;
        color: $tab-navbar-text-default;
        border-bottom: solid 1px #ccc;

        &:hover {
            color: rgb(170, 99, 99)
        }
    }

    &__link--active {
        border-bottom: solid 2px $tab-navbar-selection-indicator-background-active;
    }

    &__link-icon {
        margin-right: 0.375rem;
    }

    &__booking-btn {
        display: none;
    }

    &--open {
        z-index: 10;
        left: 0;
        box-shadow: 0 0 0 100vw rgba(24, 26, 23, 0.5);
    }

    @include tablet-large {
        position: initial;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: auto;
        box-shadow: none;

        &__link {
            width: auto;
            padding: 1.75rem;

            &:hover {
                color: rgb(170, 99, 99)
            }
        }

        &__link--active::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent $tab-navbar-selection-indicator-background-active transparent;
        }

        &__booking-btn {
            display: initial;
        }
    }

}